
.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/assets/1.webp');
  background-size: cover;
  background-position: center;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 80vh;
  background-color: rgba(255,255,255,0.95);
  border-radius: 30px;
  justify-content: space-evenly;
  padding: 20px;
}

.content span {
  font-size: 4em; /* 设置字体大小 */
  font-weight: bold; /* 字体加粗 */
  color: #75b0f3; /* 设定一个鲜艳的字体颜色 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8),  /* 主阴影 */
  0px 0px 25px rgba(255, 255, 255, 0.5); /* 轻微的光晕效果增加立体感 */
  padding: 10px 20px; /* 文字周围留出空间 */

  border-radius: 5px; /* 边角圆滑 */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* 盒子阴影增加立体感 */
  display: inline-block; /* 保证 padding 和其他盒模型属性有效 */
  height: 10%;
}


.home-container label {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 15px;
  justify-content: center;
}

.home-container input {
  width: 5vw; /* 输入框宽度 */
  max-width: 300px; /* 最大宽度 */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height:15px;
}

.home-container button {
  width: 40%;
  max-width: 300px;
  padding: 10px;
  color: white;
  background-color: #75b0f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-container button:hover {
  background-color: #0056b3;
}
.inputbox{
  margin-top: 30px;
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}
.btnbox{
  width: 20vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.btnbox input{
  width: 100%;
  margin-bottom: 20px;
}

.tablebox{
  min-height: 80%;
  overflow: auto;
  max-height: 80%;
  display: flex;
  justify-content: center;
}

.data-table {
  width: 90%; /* 表格宽度为100% */
  border-collapse: collapse; /* 边框合并，以避免双边框 */
  margin-top: 20px; /* 顶部边距 */
  table-layout: fixed; /* 固定表格布局，用于固定列宽 */
  max-height: 100%;
  overflow: auto;
}

.data-table th, .data-table td {
  border: 1px solid #ddd; /* 单元格边框颜色 */
  padding: 12px 15px; /* 单元格内边距 */
  text-align: left; /* 文本左对齐 */
  vertical-align: middle; /* 垂直居中对齐 */
  white-space: nowrap; /* 确保内容不会换行 */
  overflow: hidden; /* 隐藏超出部分的内容 */
  text-overflow: ellipsis;
}

.data-table th {
  background-color: #4CAF50; /* 表头背景色 */
  color: white; /* 表头文字颜色 */
  text-transform: uppercase; /* 文字大写 */
  font-weight: bold; /* 文字加粗 */
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.4); /* 表头添加阴影效果 */
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2; /* 偶数行的背景色 */
}

.data-table tr:hover {
  background-color: #ececec; /* 鼠标悬停时行的背景色 */
}

.data-table th:nth-child(1), .data-table td:nth-child(1) { width: 8%; }
.data-table th:nth-child(2), .data-table td:nth-child(2) { width: 8%; }
.data-table th:nth-child(3), .data-table td:nth-child(3) { width: 8%; }
.data-table th:nth-child(4), .data-table td:nth-child(4) { width: 20%; } /* 第四列更宽 */
.data-table th:nth-child(5), .data-table td:nth-child(5) { width: 8%; }
.data-table th:nth-child(6), .data-table td:nth-child(6) { width: 8%; }
.data-table th:nth-child(7), .data-table td:nth-child(7) { width: 8%; }



.home-container {
  position: relative;
  width: 100%; /* Adjust as per your layout */
}
