






<div class="home-container">
  <div class="blur-overlay"></div>
  <div class="content">
    <span>课堂参与度智能监测系统</span>
    <div class="tablebox">
    <table class="data-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>文件名</th>
        <th>人数</th>
        <th>日期</th>
        <th>教室名</th>
        <th>抬头数</th>
        <th>出勤率</th>
        <th>低头率</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of datas">
        <td>{{ data[0]}}</td>
        <td>{{ data[1]}}</td>
        <td>{{ data[2]}}</td>
        <td>{{ data[3] || '未检测到日期' }}</td>
        <td>{{ data[4] || '未检测到教室名' }}</td>
        <td>{{ data[5] }}</td>
        <td>{{ data[6] }}</td>
        <td>{{ data[7] }}</td>
      </tr>
      </tbody>
    </table></div>
  </div>
</div>
